<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
   </head>
   <body>
       <div class="query">
           <form action="/image/image_preprocess" method="POST" enctype="multipart/form-data">
               <h1>이미지 업로드 하기</h1>
               <input type="file" name="uploaded_image">
               <button>이미지 업로드</button>
           </form>
       </div>
       <div class="respone">
           {% if label %}
                <h1>{{ label }}</h1>
           {% endif %}
       </div>
   </body>
</html>